body {
  background-color: #bcee68; }

div.container {
  margin: auto; }
  div.container div.buttons {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    place-content: start space-evenly;
    width: 600px;
    margin: 30px auto 30px auto; }
    div.container div.buttons .button {
      margin-top: 50px; }

div.minefield {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: auto; }
  div.minefield.easy {
    grid-template-columns: 50px 50px 50px 50px 50px;
    width: 250px; }
  div.minefield.normal {
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    width: 500px; }
  div.minefield.hard {
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    width: 750px; }
  div.minefield .tile {
    background: #ADD8E6;
    height: 40px;
    width: 40px;
    border: ridge black 1px;
    position: relative; }
    div.minefield .tile.stepped {
      background: #ffc04c; }
      div.minefield .tile.stepped.mine {
        background: #ff7f50; }
    div.minefield .tile > text {
      position: absolute;
      top: 30%;
      left: 40%; }
      div.minefield .tile > text.hidden {
        display: none; }
    div.minefield .tile > img {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 20%;
      left: 25%; }
      div.minefield .tile > img.hidden {
        display: none; }
