body {
  background-color: #bcee68; }

div.container {
  margin: auto; }
  div.container div.buttons {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    place-content: start space-evenly;
    width: 600px;
    margin: 30px auto 30px auto; }
    div.container div.buttons .button {
      margin-top: 50px; }

div.minefield {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: auto; }
  div.minefield.easy {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
    width: 160px; }
  div.minefield.normal {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    width: 300px; }
  div.minefield.hard {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    width: 600px; }
  div.minefield .tile {
    background: #ADD8E6;
    height: 20px;
    width: 20px;
    border: ridge black 1px;
    position: relative; }
    div.minefield .tile.stepped {
      background: #ffc04c; }
      div.minefield .tile.stepped.mine {
        background: #ff7f50; }
    div.minefield .tile > text {
      position: absolute;
      top: 10%;
      left: 20%; }
      div.minefield .tile > text.hidden {
        display: none; }
    div.minefield .tile > img {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 20%;
      left: 25%; }
      div.minefield .tile > img.hidden {
        display: none; }
