body {
    background-color: #bcee68;
}

div.container {
    margin: auto;

    div.buttons {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        place-content: start space-evenly;
        width: 600px;
        margin: 30px auto 30px auto;

        .button {
            margin-top: 50px;
        }
    }
}


div.minefield {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin: auto;

    &.easy {
        grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
        width: 160px;
    }

    &.normal {
        grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
        width: 300px;
    }

    &.hard {
        grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
        width: 600px;
    }

    .tile {
        background: #ADD8E6;
        height: 20px;
        width: 20px;
        border: ridge black 1px;
        position: relative;

        &.stepped {
            background: #ffc04c;

            &.mine {
                background: #ff7f50;
            }
        }

        > text {
            position: absolute;
            top: 10%;
            left: 20%;

            &.hidden {
                display: none
            }
        }

        > img {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 20%;
            left: 25%;

            &.hidden {
                display: none;
            }
        }
    }
}
